[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/.vim/bundle/ruby.vim"]
	path = files/.vim/bundle/ruby.vim
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "files/.vim/bundle/slim.vim"]
	path = files/.vim/bundle/slim.vim
        url = git://github.com/slim-template/vim-slim.git
[submodule "files/.vim/bundle/coffeescript.vim"]
	path = files/.vim/bundle/coffeescript.vim
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/markdown.vim"]
	path = files/.vim/bundle/markdown.vim
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "files/.vim/bundle/rails.vim"]
	path = files/.vim/bundle/rails.vim
	url = git://github.com/tpope/vim-rails.git
[submodule "files/.vim/bundle/javascript.vim"]
	path = files/.vim/bundle/javascript.vim
	url = git://github.com/pangloss/vim-javascript.git
[submodule "files/.vim/bundle/powerline.vim"]
	path = files/.vim/bundle/powerline.vim
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "files/.vim/bundle/ctrlp.vim"]
	path = files/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "files/.vim/bundle/greplace.vim"]
	path = files/.vim/bundle/greplace.vim
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "files/.vim/bundle/nerdtree.vim"]
	path = files/.vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "files/.vim/bundle/vim-surround.vim"]
	path = files/.vim/bundle/vim-surround.vim
	url = git://github.com/tpope/vim-surround.git
[submodule "files/.vim/bundle/supertab.vim"]
	path = files/.vim/bundle/supertab.vim
	url = git://github.com/ervandew/supertab.git
[submodule "files/.vim/bundle/scss.vim"]
	path = files/.vim/bundle/scss.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "files/.vim/bundle/literate-coffeescript.vim"]
	path = files/.vim/bundle/literate-coffeescript.vim
	url = https://github.com/mintplant/vim-literate-coffeescript.git
[submodule "files/.vim/bundle/editor-config.vim"]
	path = files/.vim/bundle/editor-config.vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "files/.vim/bundle/fugitive.vim"]
	path = files/.vim/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "files/.vim/bundle/gitgutter.vim"]
	path = files/.vim/bundle/gitgutter.vim
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "files/.vim/bundle/flake8.vim"]
	path = files/.vim/bundle/flake8.vim
	url = https://github.com/nvie/vim-flake8.git
[submodule "files/.vim/bundle/notes.vim"]
	path = files/.vim/bundle/notes.vim
	url = https://github.com/xolox/vim-notes.git
[submodule "files/.vim/bundle/misc.vim"]
	path = files/.vim/bundle/misc.vim
	url = https://github.com/xolox/vim-misc.git
[submodule "files/.vim/bundle/jade.vim"]
	path = files/.vim/bundle/jade.vim
	url = https://github.com/vim-scripts/jade.vim.git
