[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/.vim/autoload"]
	path = files/.vim/autoload
	url = git://github.com/tpope/vim-pathogen.git
[submodule "files/.vim/bundles/ruby.vim"]
	path = files/.vim/bundles/ruby.vim
	url = git://github.com/vim-ruby/vim-ruby.git
