/**
 * Dotfile example
 *
 * dot install <package>
 */
{
    /**
     * Dependencies that are needed by the apps
     */
    "deps": {
        "brew" : {
            "version": "latest",
            "darwin": true,
            "linux": true
        },
        "node" : {
            "version": "latest",
            "darwin": true,
            "linux": true
        }
    },

    /**
     * Runs commands that are already installed
     */
    "commands": {
        "npm": {
            "options": [
                "install"
            ],
            "packages": [
                {
                    "express": {
                        version: "~0.1.1"
                    }
                }
            ]
        }

    }

}
